
@model CalculatorModel

<link href="path/to/bootstrap.min.css" rel="stylesheet">
<style>
    [class*="col"] {
        padding: 1rem;
        background-color: #ffffff;
        border: 2px solid #fff;
        color: #000000;
    }
    .btn-primary {
        background-color: #EBEBEB;
        color: #000000;
    }    
    .feedback-col {
        background-color: #B70F0A;
        color: #FFFFFF;
    } 
    .operation-col {
        background-color: #EBEBEB;
        color: #000000;
        padding: 1rem;
        border: 2px solid #fff
    }   
    .main_container {
        max-width: 700px;
    }    
</style>
    
<form method="post">
            
    <div class="container-sm border main_container">
        <div class="container border">
            <div class="row">
                <div class="col"><h1>Calculator</h1></div>
                <div class="col">
                    <button class="btn btn-primary btn-md w-100" asp-controller="Home" asp-action="Clear">Clear</button>
                </div>
                
            </div>
            <div class="row">
                <div class="feedback-col">
                    <h2 align="center">Invalid Input, Numbers Only</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">Input A</div>
                <div class="col">Input B</div>
            </div> 
            <div class="row">
                <div class="col">
                    <div class="input-group border">
                        <input type="text" class="form-control" placeholder="0" asp-for="@Model.OperandA" value="@Model.OperandA">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group border">
                        <input type="text" class="form-control" placeholder="0" asp-for="@Model.OperandB" value="@Model.OperandB">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="operation-col col">A and B</div>
                <div class="operation-col col">A Only</div>
            </div>        
        </div>
        <div class="container border">
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary btn-md w-100" asp-controller="Home" asp-action="Addition">A + B</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary btn-md w-100" asp-controller="Home" asp-action="FactoricalOfNumber">A!</button>
                </div>
            </div>   
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary btn-md w-100" asp-controller="Home" asp-action="Subtraction">A - B</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary btn-md w-100" asp-controller="Home" asp-action="Sin">sin A</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary btn-md w-100" asp-controller="Home" asp-action="Multiplication">A * B</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary btn-md w-100" asp-controller="Home" asp-action="Cos">cos A</button>
                </div>
            </div>    
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary btn-md w-100" asp-controller="Home" asp-action="Division">A / B</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary btn-md w-100" asp-controller="Home" asp-action="Tan">tan A</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary btn-md w-100" asp-controller="Home" asp-action="Equals">A == B</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary btn-md w-100" asp-controller="Home" asp-action="Reciprocal">1 / A</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary btn-md w-100" asp-controller="Home" asp-action="RaisePowerTo">A ^ B</button>
                </div>
                <div class="col">
                    
                </div>
            </div>   
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary btn-md w-100" asp-controller="Home" asp-action="LogOfNumber">A log B</button>
                </div>
                <div class="col">
                    
                </div>
            </div>  
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary btn-md w-100" asp-controller="Home" asp-action="RootOfNumber">A root B</button>
                </div>
                <div class="col">
                    
                </div>            
            </div>         
        </div>
    </div>
</form>